#section-topbar {
	font: normal 16px/24px  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    left: 0;
	overflow: visible;
    position: fixed;
    right: 0;
    top: 0;
	z-index: 10000;
}

#section-topbar a {
    color: #fff;
}

#topbar-inner {
	background: #111;
	line-height: 0;
	text-align: center;
}

#section-topbar ul#nav {
	border-right: 1px solid #222;
    display: inline-block;
	margin: 0;
	padding: 0;
    position: relative;
}

#section-topbar ul#nav > li {
	display: block;
    float: left;
    padding: 0;
}

#section-topbar ul#nav a {
    display: block;
    font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 18px 20px 18px 20px;
    border-left: 1px solid #222;
}

#section-topbar ul#nav a:hover {
	background: #222;
	border-left: 1px solid #111;
    text-decoration: none;
}

#section-topbar ul#nav .active a {
	background: #44bbaa;
	border-left: 1px solid #111;
}

#section-topbar ul#nav .active a:hover {
	background: #44bbaa;
}

#section-topbar i {
	font-size: 25px;
}