<section id="contact" name="contact"></section>
<!--FOOTER DESCRIPTION -->
<div id="footwrap">
<div class="container">
    <div class="row">

        <div class="col-lg-2 col-lg-offset-1">
            <h5>CONTACT</h5>
        </div>
        <div class="col-lg-6">
            <p>
                <t>Email</t><br />
                michael.houze@gmail.com <br />
            </p>
            <p>
                <t>Address</t><br />
                2700 Goose Creek Rd <br />
                Louisville, KY 40242 <br />
            </p>
            <p>
                <t>Phone</t><br />
                (859) 240-5751 <br />
            </p>
            <p>
                <t>Social Links</t><br />
                <a href="https://twitter.com/mike_houze"><i class="fa fa-twitter-square"></i></a>
                <a href="https://www.facebook.com/michael.houze"><i class="fa fa-facebook-square"></i></a>
                <a href="https://www.linkedin.com/pub/michael-houze/84/195/257"><i class="fa fa-linkedin-square"></i></a>
            </p>
        </div>

    </div><!--/.row -->
</div><!--/.container -->
</div><!--/ #footer -->

<div id="c">
<div class="container">
    <p>
        Created by
        <span style="color: #ff0000">
            <b>MICHAEL A HOUZE</b>
        </span>

    </p>

</div>
</div>
