<div id="headerwrap">
    @Html.Partial("_GitHubRibbon")
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <h1>Michael A Houze</h1>
                <h3>Software Developer</h3>
            </div>
        </div>
    </div>
</div>

<section id="about" name="about"></section>
<div id="intro">
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-lg-offset-1">
                <h5>ABOUT</h5>
            </div>
            <div class="col-lg-6">
                <p>The thing that I find most exciting about software development is that it is impossible to learn everything about it.  Just when you think you have mastered something, it becomes either obsolete or gets fundamentally changed.  As technology becomes more and more important in our lives, developers have a larger responsibility as the creators of the tools of the future.</p>
                <p>I am currently in my Senior year in the Computer Information Systems program at the University of Louisville.  As a future College of Business graduate and with over 8 years of management experience, I am aware of the importance of technology to any business.  I look forward to the lifelong learning process that is being a software developer. </p>
            </div>
        </div>
    </div>
</div>
