<section id="resume" name="resume"></section>

<div class="container desc">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>EDUCATION</h5>
        </div>

        <div class="col-lg-6">
            <p>
                <t>Bachelor of Science in Business Administration</t><br />
                Computer Information Systems<br />
                Web Development Concentration<br />

            </p>
        </div>

        <div class="col-lg-3">
            <p>
                University of Louisville<br />
                College of Business<br />
                <sm>GRADUATING IN MAY 2015</sm>
            </p>
        </div>
    </div>

    <hr />
</div>

<div class="container desc">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>MEMBERSHIPS &amp AWARDS</h5>
        </div>

        <div class="col-lg-6">
            <p>
                <t>CIS Scholastic Excellence Scholarship</t><br />
                Academic Year 2014 - 2015 <br />
            </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
            <p>
                <t>Golden Key National Honor Society</t><br />
                2012 - Current <br />
            </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
            <p>
                <t>Association for Computing Machinery</t><br />
                2014 - Current
            </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
            <p>
                <t>College of Business Dean's List</t><br />
                Fall 2014<br />
                Fall 2013<br />
                Spring 2013<br />
                Fall 2012<br />
                Spring 2012<br />
            </p>
        </div>

    </div>

    <hr />
</div>

<div class="container desc">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>WORK</h5>
        </div>

        <div class="col-lg-6">
            <p>
                <t>Information Technology Intern</t><br />
                ZirMed, Inc.<br />
            </p>
            <p>
                <more>
                    As a member of a small development team, we are using the Agile method to develop
                    an internal-facing web application.  Under the direct supervision of a systems architect,
                    we do iterative product demostrations, in which we present directly to the Director of 
                    Architecture and the Chief Technology Officer.
                </more>
            </p>
        </div>

        <div class="col-lg-3">
            <p><sm>JANUARY 2015 - CURRENT</sm></p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
            <p>
                <t>Online Sales Manager and Applications Developer</t><br />
                Gray's College Bookstores<br />
            </p>
            <p>
                <more>
                    As the manager of the division in charge of the company's e-commerce,
                    my main responsibilities were to hire, train and coach a staff consisting
                    of full-time, part-time and seasonal employees.  As I improved the processes
                    of the facility, I also took on additional responsibilities as a junior applications developer.
                </more>
            </p>
        </div>

        <div class="col-lg-3">
            <p><sm>APRIL 2008 - DECEMBER 2014</sm></p>
        </div>
    </div>

    <br />
</div>
