<section id="resume" name="resume"></section>

<div class="container desc">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>EDUCATION</h5>
        </div>

        <div class="col-lg-6">
            <p>
                <t>Bachelor of Business Administration</t><br />
                Computer Information Systems<br />
                Web Development Concentration<br />

            </p>
        </div>

        <div class="col-lg-3">
            <p>
                University of Louisville<br />
                College of Business<br />
                <sm>GRADUATING IN MAY 2015</sm>
            </p>
        </div>
    </div>

    <hr />
</div>

<div class="container desc">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>MEMBERSHIPS &amp AWARDS</h5>
        </div>

        <div class="col-lg-6">
            <p>
                <t>CIS Scholastic Excellence Scholarship</t><br />
                Academic Year 2014 - 2015 <br />
            </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
            <p>
                <t>Golden Key National Honor Society</t><br />
                2012 - Current <br />
            </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
            <p>
                <t>Association for Computing Machinery</t><br />
                2014 - Current
            </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
            <p>
                <t>College of Business Dean's List</t><br />
                Spring 2012<br />
                Fall 2012<br />
                Spring 2013<br />
                Fall 2013<br />
            </p>
        </div>

    </div>

    <hr />
</div>

<div class="container desc">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5>WORK</h5>
        </div>

        <div class="col-lg-6">
            <p>
                <t>Online Sales Manager and Applications Developer</t><br />
                Gray's College Bookstores<br />
            </p>
            <p><more>As a manager of the division in charge of the company's e-commerce, my main responsibilities are to hire, train and coach a staff consisting of full-time, part-time and seasonal employees.  As I have improved the processes of my facility, I have taken on additional responsibilities as an applications developer.  </more></p>
        </div>

        <div class="col-lg-3">
            <p><sm>APRIL 2008 - CURRENT</sm></p>
        </div>
    </div>

    <br />
</div>
