<section id="skills" name="skills"></section>
<div id="skillswrap">
    <div class="container">
        <!-- Languagess -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>LANGUAGE</h5>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="csharp" height="80" width="80"></canvas>
                <p>C#</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 70,
                                     color:"#1cc716"
                                },
                                {
								     value : 30,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("csharp").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="java" height="80" width="80"></canvas>
                <p>Java</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 60,
                                     color:"#1cc716"
                                },
                                {
								     value : 40,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("java").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="javascript" height="80" width="80"></canvas>
                <p>Javascript</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 75,
                                     color:"#1cc716"
                                },
                                {
								     value : 25,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
            <div class="col-lg-2 col-lg-offset-1"></div>
            <div class="col-lg-3 centered">
                <canvas id="html_css" height="80" width="80"></canvas>
                <p>HTML/CSS</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 80,
                                     color:"#1cc716"
                                },
                                {
								     value : 20,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("html_css").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
        </div>
        <hr>
        <br>
        <!-- Database Management Systems -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>DBMS</h5>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="sql2012" height="80" width="80"></canvas>
                <p>SQL Server 2012</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 60,
                                     color:"#1cc716"
                                },
                                {
								     value : 40,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("sql2012").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="sql2008" height="80" width="80"></canvas>
                <p>SQL Server 2008 R2</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 40,
                                     color:"#1cc716"
                                },
                                {
								     value : 60,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("sql2008").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
        </div><!--/.row -->
        <hr>
        <br>
        <!-- IDEs -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>IDE</h5>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="vs2013" height="80" width="80"></canvas>
                <p>Visual Studio 2013</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 75,
                                     color:"#1cc716"
                                },
                                {
								     value : 25,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("vs2013").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="android-studio" height="80" width="80"></canvas>
                <p>Android Studio</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 75,
                                     color:"#1cc716"
                                },
                                {
								     value : 25,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("android-studio").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="vs2012" height="80" width="80"></canvas>
                <p>Visual Studio 2012</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 80,
                                     color:"#1cc716"
                                },
                                {
								     value : 20,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("vs2012").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
        </div><!--/.row -->
        <hr>
        <br>
        <!-- FRAMEWORKS -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>FRAMEWORK</h5>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="asp_mvc" height="80" width="80"></canvas>
                <p>ASP.Net MVC</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 65,
                                     color:"#1cc716"
                                },
                                {
								     value : 35,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("asp_mvc").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="angular" height="80" width="80"></canvas>
                <p>AngularJS</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 40,
                                     color:"#1cc716"
                                },
                                {
								     value : 60,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("angular").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="ember" height="80" width="80"></canvas>
                <p>EmberJS</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 40,
                                     color:"#1cc716"
                                },
                                {
								     value : 60,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("ember").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
        </div><!--/.row -->
        <hr>
        <br>
        <!-- OPERATING SYSTEMS -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>OPERATING SYSTEM</h5>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="windows-81" height="80" width="80"></canvas>
                <p>Microsoft Windows 8.1</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 75,
                                     color:"#1cc716"
                                },
                                {
								     value : 25,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("windows-81").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="windows-7" height="80" width="80"></canvas>
                <p>Microsoft Windows 7</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 85,
                                     color:"#1cc716"
                                },
                                {
								     value : 15,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("windows-7").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
            <div class="col-lg-3 centered">
                <canvas id="windows-xp" height="80" width="80"></canvas>
                <p>Microsoft Windows XP</p>
                <br>
                <script>
						var doughnutData = [
                                {
							         value: 80,
                                     color:"#1cc716"
                                },
                                {
								     value : 20,
								     color : "#ecf0f1"
                                }
				        ];
						var myDoughnut = new Chart(document.getElementById("windows-xp").getContext("2d")).Doughnut(doughnutData, {percentageInnerCutout : 0});
                </script>
            </div>
        </div><!--/.row -->
    </div><!--/.container -->
</div><!--/ #skillswrap -->
