<section id="skills" name="skills"></section>
<div id="skillswrap">
    <div class="container">

        <!-- Languagess -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>LANGUAGE</h5>
            </div>

            <div class="col-lg-8">
                <!-- C# 5.0 Skill Bar-->
                <div class="skillbar clearfix " data-percent="75%">
                    <div class="skillbar-title" style="background: #d35400;"><span>C# 5.0</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- JavaScript Skill Bar-->
                <div class="skillbar clearfix " data-percent="55%">
                    <div class="skillbar-title" style="background: #d35400;"><span>JavaScript</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- HTML5 Skill Bar-->
                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- CSS3 Server Skill Bar-->
                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title" style="background: #d35400;"><span>CSS3</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- Java Skill Bar-->
                <div class="skillbar clearfix " data-percent="40%">
                    <div class="skillbar-title" style="background: #d35400;"><span>Java</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- Ruby Skill Bar-->
                <div class="skillbar clearfix " data-percent="30%">
                    <div class="skillbar-title" style="background: #d35400;"><span>Ruby</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

            </div>
        </div>

        <hr />
        <br />

        <!-- Database Management Systems -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>DBMS</h5>
            </div>
            <div class="col-lg-8">

                <!-- SQL Server Skill Bar-->
                <div class="skillbar clearfix " data-percent="60%">
                    <div class="skillbar-title" style="background: #d35400;"><span>SQL Server</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- MySQL Skill Bar-->
                <div class="skillbar clearfix " data-percent="35%">
                    <div class="skillbar-title" style="background: #d35400;"><span>MySQL</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- MongoDB Skill Bar-->
                <div class="skillbar clearfix " data-percent="25%">
                    <div class="skillbar-title" style="background: #d35400;"><span>MongoDB</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

            </div>
        </div>

        <hr />
        <br />

        <!-- Environments -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>ENVIRONMENT</h5>
            </div>
            <div class="col-lg-8">

                <!-- Visual Studio Skill Bar-->
                <div class="skillbar clearfix " data-percent="75%">
                    <div class="skillbar-title" style="background: #d35400;"><span>Visual Studio</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- Android Studio Skill Bar-->
                <div class="skillbar clearfix " data-percent="65%">
                    <div class="skillbar-title" style="background: #d35400;"><span>Android Studio</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- Sublime Text Skill Bar-->
                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title" style="background: #d35400;"><span>Sublime Text</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- IntelliJ Skill Bar-->
                <div class="skillbar clearfix " data-percent="40%">
                    <div class="skillbar-title" style="background: #d35400;"><span>IntelliJ</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- RubyMine Skill Bar-->
                <div class="skillbar clearfix " data-percent="25%">
                    <div class="skillbar-title" style="background: #d35400;"><span>RubyMine</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- Brackets Skill Bar-->
                <div class="skillbar clearfix " data-percent="70%">
                    <div class="skillbar-title" style="background: #d35400;"><span>Brackets</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

            </div>
        </div>

        <hr />
        <br />

        <!-- FRAMEWORKS -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>LIBRARY / FRAMEWORK</h5>
            </div>
 
            <div class="col-lg-8">

                <!-- ASP.NET MVC 5 Skill Bar-->
                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title" style="background: #d35400;"><span>ASP.NET MVC 5</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- Bootstrap Skill Bar-->
                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title" style="background: #d35400;"><span>Bootstrap</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- jQuery Skill Bar-->
                <div class="skillbar clearfix " data-percent="50%">
                    <div class="skillbar-title" style="background: #d35400;"><span>jQuery</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- Entity Framework Skill Bar-->
                <div class="skillbar clearfix " data-percent="40%">
                    <div class="skillbar-title" style="background: #d35400;"><span>Entity Framework</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- nHibernate Skill Bar-->
                <div class="skillbar clearfix " data-percent="40%">
                    <div class="skillbar-title" style="background: #d35400;"><span>nHibernate</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- SignalR Skill Bar-->
                <div class="skillbar clearfix " data-percent="30%">
                    <div class="skillbar-title" style="background: #d35400;"><span>SignalR</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

            </div>
        </div>

        <hr />
        <br />

        <!-- VERSION CONTROL -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>VERSION CONTROL</h5>
            </div>

            <div class="col-lg-8">

                <!-- Git Skill Bar-->
                <div class="skillbar clearfix " data-percent="75%">
                    <div class="skillbar-title" style="background: #d35400;"><span>Git</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- TFS Skill Bar-->
                <div class="skillbar clearfix " data-percent="40%">
                    <div class="skillbar-title" style="background: #d35400;"><span>TFS</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

            </div>
        </div>

        <hr />
        <br />

        <!-- NON-TECHNICAL -->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>NON-TECHNICAL</h5>
            </div>

            <div class="col-lg-8">

                <!-- Agile Development Skill Bar-->
                <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- Team Leadership Skill Bar-->
                <div class="skillbar clearfix " data-percent="65%">
                    <div class="skillbar-title" style="background: #d35400;"><span>CSS3</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

                <!-- Budget Management Skill Bar-->
                <div class="skillbar clearfix " data-percent="65%">
                    <div class="skillbar-title" style="background: #d35400;"><span>CSS3</span></div>
                    <div class="skillbar-bar" style="background: #e67e22;"></div>
                </div>

            </div>
        </div>

    </div>
</div>
